{% extends 'base.html' %}

{% block content %}

<div class="col-10 col-md-4 mx-auto mt-5">
    <h2 class="mt-3 mb-5">{{ title }}</h2>
    {% if description %}
    <p>{{ description }}</p>
    {% endif %}
    {% include 'components/form.html' with form=form btn_label=btn_label %}
    {% if google %}
    <a href="{% url 'google-auth' %}" class="btn btn-outline-primary btn-link btn-sm mt-5 mb-5">Login with Google</a>
    {% endif %}
    {% if messages %}
    {% for message in messages %}
        <p id="re-login">
            {{ message }}
        </p>
    {% endfor %}
    {% endif %}
</div>


{% endblock content %}