<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% include 'react/css.html' %}
    <style>
        #output-bg {
            background-color: darkmagenta;
        }
        #re-login {
            background-color: #f5f5f5;
            color: #00796b;
            margin-top: 50px;
            padding: 15px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>{% block head_title %} {% endblock head_title %}</title>
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    {% include 'components/navbar.html' %}
    {% include 'components/redirect_modal.html' %}
    <div id="root" data-username="{{ username }}" data-permission="yes">
        {% block content %} {% endblock content %}
    </div>
    {% include 'react/js.html' %}
</body>

</html>