{% extends 'base.html' %} {% block content %}

<div class="col-10 col-md-4 mx-auto">
  <h1>{{ title }}</h1>
  {% if description %}
  <p>{{ description }}</p>
  {% endif %} {% include 'components/form.html' with form=profile_form btn_label=btn_label %}
  <div class="mt-5">
    <button
      type="button"
      class="btn btn-primary"
      id="updateButton"
      data-toggle="modal"
      data-target="#updateModal"
    >
      Update username or password
    </button>
    <div
      class="modal fade"
      id="updateModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="updateModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateModalLabel">
              Update username & password
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form
              id="updateForm"
              method="POST"
              action="{% url 'profile_update' %}"
            >
              {% csrf_token %} {{ user_form.as_p }}
              <button type="submit" class="btn btn-primary">
                Save Changes
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document
    .getElementById("updateButton")
    .addEventListener("click", function () {
      $("#updateModal").modal("show");
    });

  document
    .getElementById("updateForm")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      var form = event.target;
      var formData = new FormData(form);
      formData.set("Content-Type", "application/json");

      var request = new XMLHttpRequest();
      console.log(form.action);
      request.open(form.method, form.action);
      request.setRequestHeader("X-Requested-With", "XMLHttpRequest");
      request.onload = function () {
        if (request.status === 200) {
          $("#updateModal").modal("hide");
        } else if (request.status === 400) {
          var response = JSON.parse(request.responseText);
          if (response.hasOwnProperty("username")) {
            var usernameField = form.querySelector("#id_username");
            var usernameError = response.username[0];
            usernameField.setCustomValidity(usernameError);
            usernameField.reportValidity();
          }
          if (response.hasOwnProperty("password")) {
            var passwordField = form.querySelector("#id_password1");
            var passwordError = response.password[0];
            passwordField.setCustomValidity(passwordError);
            passwordField.reportValidity();
          }
        }
      };
      request.send(formData);
    });
  document.getElementById("id_username").addEventListener("input", function () {
    this.setCustomValidity("");
  });
  $(document).ready(function () {
    $("#id_password").hide();
  });
</script>

{% endblock content %}
