<div>
  <form>
    <input type="text" id="search-input" placeholder="Search users..." />
  </form>
  <div id="search-results">
    {% for user in results %}
    <div class="profile-badge-container">
      <div id="profile-badge-{{ user.username }}"></div>
    </div>
    <script>
      var userData = {
        username: "{{ user.username }}",
      };

      ReactDOM.render(
        <ProfileBadge profile={userData} />,
        document.getElementById("profile-badge-{{ user.username }}")
      );
    </script>
    {% empty %}
    {% endfor %}
  </div>
</div>
<script>
  document
    .getElementById("search-input")
    .addEventListener("input", function () {
      const username = this.value;
      fetch(`profiles/search/?query=${username}`)
        .then((response) => response.json())
        .then((data) => {
          const results = document.getElementById("search-results");
          results.innerHTML = "";
          if (data.length > 0) {
            data.forEach((user) => {
              const userItem = document.createElement("div");
              userItem.textContent = user.username;
              results.appendChild(userItem);
              var userData = {
        username: "{{ user.username }}",
      };

      ReactDOM.render(
        <ProfileBadge profile={userData} />,
        document.getElementById("profile-badge-{{ user.username }}")
      );
            });
          }
        });
    });
</script>
