body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pointer {
  cursor: pointer !important;
  font-weight: bold;
  color:midnightblue;
}

.font {
  font: bold 17px/1 sans-serif;
}
.font2 {
  font: small-caps 12px/1 sans-serif;
}

.font3 {
  font:status-bar
}

.font4 {
  font: italic small-caps bold 16px/2 cursive;
}

.font5 {
  font: 0.7em "Fira Sans", sans-serif;
}

.font6 {
  font: bold 14px/1 sans-serif;
}


